{:kotoba.app/id "cloud.itonami.isic-0123", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicpz5sojpil6rfsltwzcsaaxrvzqypn3hiexckbqylh23v53e34aa", :kotoba.app/embed-url "ipfs://bafkreicpz5sojpil6rfsltwzcsaaxrvzqypn3hiexckbqylh23v53e34aa", :published {:archive "https://kotobase.net/ipfs/bafkreicpz5sojpil6rfsltwzcsaaxrvzqypn3hiexckbqylh23v53e34aa", :size 72390, :put-status 201, :get-status 200, :at "2026-08-15T12:55:53.732Z"}}
